body {
    font-family: Arial;
    margin: 0;
    background: white;
}

header {
    background: maroon;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #800000;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.hero {
    padding: 40px;
    text-align: center;
}

.card {
    background: #f4f4f4;
    margin: 20px;
    padding: 20px;
    border-left: 5px solid maroon;
}

.blog-card {
    background: #eee;
    padding: 20px;
    margin: 20px;
}

.card-contact {
    border: 2px solid maroon;
    padding: 30px;
    width: 300px;
    margin: auto;
    text-align: center;
}
